<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235564744183-ftte9f7ihse28nb384p1nctp8u95momb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235564744183-ftte9f7ihse28nb384p1nctp8u95momb</string>
	<key>API_KEY</key>
	<string>AIzaSyDIlUsFjHtpM30fB21TWnFjP4HKDCw_lLE</string>
	<key>GCM_SENDER_ID</key>
	<string>235564744183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeLearning</string>
	<key>PROJECT_ID</key>
	<string>reactnativelearning-f410b</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativelearning-f410b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235564744183:ios:ddb627bc21b4b2172782f2</string>
</dict>
</plist>